altair==5.5.0
annotated-types==0.7.0
asttokens==3.0.0
attrs==24.3.0
aws-cdk-lib==2.174.0
aws-cdk.asset-awscli-v1==2.2.223
aws-cdk.asset-kubectl-v20==2.1.4
aws-cdk.asset-node-proxy-agent-v6==2.1.0
aws-cdk.cloud-assembly-schema==39.2.20
aws-cdk.integ-tests-alpha==2.147.3a0
aws-solutions-constructs.aws-apigateway-lambda==2.62.0
aws-solutions-constructs.core==2.62.0
awswrangler==3.11.0
black==24.10.0
blinker==1.9.0
boto3==1.36.8
botocore==1.36.18
cachetools==5.5.2
cattrs==24.1.2
cdk-nag==2.28.159
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
constructs==10.4.2
contourpy==1.3.2
cryptography==44.0.2
cycler==0.12.1
decorator==5.2.1
ecdsa==0.19.1
envs==1.4
Events==0.5
executing==2.2.0
extra-streamlit-components==0.1.80
Faker==26.0.0
faker_airtravel==0.4
fonttools==4.57.0
git-remote-codecommit==1.17
gitdb==4.0.12
GitPython==3.1.44
idna==3.10
importlib_resources==6.5.2
ipython==8.29.0
jedi==0.19.2
Jinja2==3.1.6
jmespath==1.0.1
jsii==1.106.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jwcrypto==1.5.6
kiwisolver==1.4.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mypy-extensions==1.0.0
narwhals==1.35.0
numpy==2.2.2
opensearch-py==2.7.1
packaging==24.2
pandas==2.2.2
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
pillow==11.1.0
platformdirs==4.3.7
prompt_toolkit==3.0.51
protobuf==5.29.4
ptyprocess==0.7.0
publication==0.0.3
pure_eval==0.2.3
pyarrow==18.1.0
pyasn1==0.4.8
pycognito==2024.5.1
pycparser==2.22
pydantic==2.10.2
pydantic_core==2.27.1
pydeck==0.9.1
Pygments==2.19.1
PyJWT==2.10.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-jose==3.4.0
python-jwt==4.1.0
pytz==2025.1
PyYAML==6.0.2
referencing==0.36.2
requests==2.32.3
retrying==1.3.4
rich==13.9.4
rpds-py==0.24.0
rsa==4.9.1
s3transfer==0.11.2
setuptools==78.1.0
six==1.16.0
smmap==5.0.2
stack-data==0.6.3
streamlit==1.44.1
streamlit-cognito-auth==1.3.1
tenacity==9.1.2
termcolor==2.5.0
toml==0.10.2
tornado==6.4.2
traitlets==5.14.3
typeguard==2.13.3
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.2.3
wcwidth==0.2.13
